
@{
    ViewBag.Title = "index2";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
@using CovidBookingDashboard.Controllers;
@section styles {
    <style>
        .form-inline .form-control {
            display: inline-block;
            width: auto;
            vertical-align: middle;
        }

        .table-title {
            padding-bottom: 15px;
            background: #435d7d;
            color: #fff;
            padding: 16px 30px;
            margin: -20px -25px 10px;
            border-radius: 3px 3px 0 0;
        }

        .form-inline .form-control {
            display: inline-block;
            width: auto;
            vertical-align: middle;
        }

        form-control {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 0;
            box-shadow: none;
            border-color: #d2d6de;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
          integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
@section Scripts
    {
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>*@
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    @*<script type="text/javascript"
        charset="utf8"
        src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>*@
    <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
            integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @*<script src="~/Scripts/homeSamplejs.js"></script>*@
    <script>
        var table = [];
        var newC = "";
        var StartDate;
        var EndDate;
        var Status1 = "0";
        var Status2 = "1";
        var Status3 = "2";
        var isWhatsAppSent = "1";
        $(document).ready(function () {
            var endDate = $('#EndDate').datepicker({
                setDate: new Date(),
                format: 'mm-dd-yyyy',
                autoclose: true
            }).datepicker("setDate", 'now');
            var startDate = $('#StartDate').datepicker({
                setDate: new Date(),
                format: 'mm-dd-yyyy',
                autoclose: true
            }).datepicker("setDate", 'now');
            $('#EndDate1').datepicker({
                setDate: new Date(),
                format: 'mm-dd-yyyy',
                autoclose: true
            }).datepicker("setDate", 'now');
            $('#StartDate1').datepicker({
                setDate: new Date(),
                format: 'mm-dd-yyyy',
                autoclose: true
            }).datepicker("setDate", 'now');
            $('#EndDate2').datepicker({
                setDate: new Date(),
                format: 'mm-dd-yyyy',
                autoclose: true
            }).datepicker("setDate", 'now');
            $('#StartDate2').datepicker({
                setDate: new Date(),
                format: 'mm-dd-yyyy',
                autoclose: true
            }).datepicker("setDate", 'now');
            $('#EndDate3').datepicker({
                setDate: new Date(),
                format: 'mm-dd-yyyy',
                autoclose: true
            }).datepicker("setDate", 'now');
            $('#StartDate3').datepicker({
                setDate: new Date(),
                format: 'mm-dd-yyyy',
                autoclose: true
            }).datepicker("setDate", 'now');
            
            FetchBookingCountToday();
            FetchBookingCountHomesampletoday();
            FetchBookingCountwalkinstoday();
            FetchBookingCountThisMonth();
            FetchScheduled();
            FetchPending();
            FetchCompleted();
            FetchVisits();
            setInterval(function () {
                /*   $('#patientsTables').load(fetchBookings());*/
                $('newClients').load(FetchBookingCountToday());
                $('HomeSample').load(FetchBookingCountHomesampletoday());
                $('WalkIns').load(FetchBookingCountwalkinstoday());
                $('MonthlyClients').load(FetchBookingCountThisMonth());
                $('newBooking').load(FetchNewBookingToday());
            }, 3600)
            $('scheduled').load(FetchScheduled());

        });
        $('#filterByDate').click(function () {
            FetchVisits();
        });
        function FetchVisits() {
            StartDate = $('#StartDate').val();
            EndDate = $('#EndDate').val();
            Status = $('#status').val();
            fetchNewBookings(StartDate, EndDate, Status);
        }
        $('#filterByDate1').click(function () {
            FetchScheduled();
        });
        function FetchScheduled() {
            StartDate = $('#StartDate1').val();
            EndDate = $('#EndDate1').val();
            Status = $('#status1').val();
            fetchScheduledBookings(StartDate, EndDate, Status);
        }
        $('#filterByDate2').click(function () {
            FetchPending();
        });
        function FetchPending() {
            StartDate = $('#StartDate2').val();
            EndDate = $('#EndDate2').val();
            Status = $('#status2').val();
            fetchPendingBookings(StartDate, EndDate, Status);
        }
        $('#filterByDate3').click(function () {
            FetchCompleted();
        });
        function FetchCompleted() {
            StartDate = $('#StartDate3').val();
            EndDate = $('#EndDate3').val();
            fetchCompletedBookings(StartDate, EndDate);
        }
        function fetchNewBookings(FromDate, ToDate, Status) {
            var bookings;
            var url = '/Home/getVisits?startDate=' + FromDate + '&endDate=' + ToDate + '&status=' + Status;
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'JSON',
                async: false,
                contentType: 'application/json;charset=utf-8',
                success: function (res) {                 
                    bookings = res;
                    newBookings = res;
                    populateBookings();
                }
            });
            return bookings;
        }
        function fetchScheduledBookings(FromDate, ToDate, Status) {
            var schedules;
            var url = '/Home/getVisits?startDate=' + FromDate + '&endDate=' + ToDate + '&status=' + Status;
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'JSON',
                async: false,
                contentType: 'application/json;charset=utf-8',
                success: function (res) {
                    schedules = res;
                    scheduled = res;
                    populateScheuled();
                }
            });
            return schedules;
        }
        function fetchPendingBookings(FromDate, ToDate, Status) {
            var pendings;
            var url = '/Home/getVisits?startDate=' + FromDate + '&endDate=' + ToDate + '&status=' + Status;
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'JSON',
                async: false,
                contentType: 'application/json;charset=utf-8',
                success: function (res) {
                    pendings = res;
                    pendingResult = res;
                    populatePendigResults();
                }
            });
            return pendings;
        }
        function fetchCompletedBookings(FromDate, ToDate) {
            var completes;
            var url = '/Home/getCompletedVisits?startDate=' + FromDate + '&endDate=' + ToDate;
            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'JSON',
                async: false,
                contentType: 'application/json;charset=utf-8',
                success: function (res) {
                    completes = res;
                    Completed = res;
                    console.log(Completed);
                    populateCompleted();
                }
            });
            return completes;
        }
        
        function FetchNewBookingToday() {
            var counts;
            $.ajax({
                type: 'GET',
                url: '/Home/FetchNewBookingToday',
                dataType: 'JSON',
                async: false,
                contentType: 'application/json;charset=utf-8',
                success: function (res) {
                    document.getElementById("newBooking").innerHTML = res;
                }
            });
            return counts;
        }
        function FetchBookingCountToday() {
            var counts;
            $.ajax({
                type: 'GET',
                url: '/Home/FetchBookingCountToday',
                dataType: 'JSON',
                async: false,
                contentType: 'application/json;charset=utf-8',
                success: function (res) {
                    console.log(res);
                    document.getElementById("newClients").innerHTML = res;
                }
            });
            return counts;
        }
        function FetchBookingCountHomesampletoday() {
            var counts;
            $.ajax({
                type: 'GET',
                url: '/Home/FetchBookingCountHomesampletoday',
                dataType: 'JSON',
                async: false,
                contentType: 'application/json;charset=utf-8',
                success: function (res) {
                    document.getElementById("HomeSample").innerHTML = res;
                }
            });
            return counts;
        }
        function FetchBookingCountwalkinstoday() {
            var counts;
            $.ajax({
                type: 'GET',
                url: '/Home/FetchBookingCountwalkinstoday',
                dataType: 'JSON',
                async: false,
                contentType: 'application/json;charset=utf-8',
                success: function (res) {
                    document.getElementById("WalkIns").innerHTML = res;
                }
            });
            return counts;
        }
        function FetchBookingCountThisMonth() {
            var counts;
            $.ajax({
                type: 'GET',
                url: '/Home/FetchBookingCountThisMonth',
                dataType: 'JSON',
                async: false,
                contentType: 'application/json;charset=utf-8',
                success: function (res) {
                    document.getElementById("MonthlyClients").innerHTML = res;
                }
            });
            return counts;
        }

        function populateBookings() {
            var dt;
            $('#NewBookingsTables').DataTable({
                data: newBookings,
                destroy: true,
                "autoWidth": false,
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ],
                columns: [
                    {
                        title: "Actions", data: null, render: function (data, type, row) {
                            if (data.status === 0) {
                                if (type === 'display') {
                                    dt = '<div class="dropdown ">'
                                        + '<button class="fa fa-list btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown" ">'
                                        + '<span class="caret"></span></button>'
                                        + '<ul class="dropdown-menu">'
                                        + '<li><a class="btn btn-primary " onclick="updateBooking(\'' + data.CycleId + '\',\'' + data.status + '\')">CONFIRM</a></li>'
                                        + '<li><a onclick="ViewConsntForm(\'' + data.CycleId + '\')">Consent Form</a></li>'
                                        + '</ul>'
                                        + '</div>';

                                }


                            }
                            return dt
                        },
                        className: "dt-body-center"
                    },
                  /*  { title: "CycleId", data: "CycleId" },*/
                    { title: "Client Name", data: "FirstName" },
                    { title: "PhoneNumber", data: "Telephone" },
                    { title: "VisitDate", data: "VisitDate" },
                    { title: "Sample Location", data: "CollectionLocation" },
                    { title: "Booking Date", data: "DateCreated" },
                    { title: "Booking Time", data: "VisitTime" },
                    {
                        title: "Status", data: null, render: function (data, type, row) {
                            return '<span class="label label-danger">New Booking</span>';
                        }

                    },

                ],
                "aaSorting": [[4, "desc"], [5, "desc"]]
            });
        }
        function populateScheuled() {
            var dt;
            $('#scheduledTables').DataTable({
                data: scheduled,
                destroy: true,
                "autoWidth": false,
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ],
                columns: [
                    {
                        title: "Actions", data: null, render: function (data, type, row) {
                            if (data.status === 1) {
                                if (type === 'display') {
                                    dt = '<div class="dropdown ">'
                                        + '<button class="fa fa-list btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown" ">'
                                        + '<span class="caret"></span></button>'
                                        + '<ul class="dropdown-menu">'
                                        + '<li><a class="btn btn-primary " onclick="updateBooking2(\'' + data.CycleId + '\',\'' + data.status + '\')">Scheduled</a></li>'
                                        + '<li><a onclick="ViewConsntForm(\'' + data.CycleId + '\')">Consent Form</a></li>'
                                        + '</ul>'
                                        + '</div>';
                                }
                            }
                            //else if (data.status === 1) {
                            //    if (type === 'display') {
                            //        dt = '<div class="dropdown ">'
                            //            + '<button class="fa fa-list btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown" ">'
                            //            + '<span class="caret"></span></button>'
                            //            + '<ul class="dropdown-menu">'
                            //            + '<li><button type="button" class="btn btn-lg btn-primary" disabled>Scheduled</button></li>'
                            //            + '<li><a onclick="ViewConsntForm(\'' + data.CycleId + '\')">Consent Form</a></li>'
                            //            + '</ul>'
                            //            + '</div>';

                            //    }
                            //}
                            return dt
                        },
                        className: "dt-body-center"
                    },
                  /*  { title: "CycleId", data: "CycleId" },*/
                    { title: "Client Name", data: "FirstName" },
                    { title: "PhoneNumber", data: "Telephone" },
                    { title: "Visit Date", data: "VisitDate" },
                    { title: "Booking Date", data: "DateCreated" },
                    { title: "Booking Time", data: "VisitTime" },
                    {
                        title: "Status", data: null, render: function (data, type, row) {

                            return '<span class="label label-default">Pending Sample Collection</span>';
                        }

                    },

                ],
                "aaSorting": [[4, "desc"], [5, "desc"]]
            });
        }
        function populatePendigResults() {
            var dt;
            $('#pendingResultsTables').DataTable({
                data: pendingResult,
                destroy: true,
                "autoWidth": false,
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ],
                columns: [
                    {
                        title: "Actions", data: null, render: function (data, type, row) {
                            if (data.status === 2) {
                                if (type === 'display') {
                                    dt = '<div class="dropdown ">'
                                        + '<button class="fa fa-list btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown" ">'
                                        + '<span class="caret"></span></button>'
                                        + '<ul class="dropdown-menu">'
                                        + '<li><button type="button" class="btn btn-lg btn-primary" disabled>Collected</button></li>'
                                        + '<li><a onclick="ViewConsntForm(\'' + data.CycleId + '\')">Consent Form</a></li>'
                                        + '</ul>'
                                        + '</div>';
                                }
                            }
                            return dt
                        },
                        className: "dt-body-center"
                    },
               /*     { title: "CycleId", data: "CycleId" },*/
                    { title: "Client Name", data: "FirstName" },
                    { title: "PhoneNumber", data: "Telephone" },
                    { title: "Visit Date", data: "VisitDate" },
                    { title: "Booking Date", data: "DateCreated" },
                    { title: "Booking Time", data: "VisitTime" },
                    {
                        title: "Status", data: null, render: function (data, type, row) {
                            return '<span class="label label-success">Pending Results</span>';
                        }

                    },

                ],
                "aaSorting": [[4, "desc"], [5, "desc"]]
            });
        }
        function populateCompleted() {
            var dt;
            $('#completedResultsTables').DataTable({
                data: Completed,
                destroy: true,
                "autoWidth": false,
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf', 'print'
                ],
                columns: [
                    {
                        title: "Actions", data: null, render: function (data, type, row) {
                            //  if (data.isWhatsAppSent === 0) {
                            //    if (type === 'display') {
                            //        dt = '<div class="dropdown ">'
                            //            + '<button class="fa fa-list btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown" ">'
                            //            + '<span class="caret"></span></button>'
                            //            + '<ul class="dropdown-menu">'
                            //            + '<li><a onclick="ViewCertificate(\'' + data.CycleId + '\')">View Certificate</a></li>'
                            //            + '<li><a onclick="SendWhatsAPP(\'' + data.CycleId + '\')">SendWhatsApp</a></li>'
                            //            + '<li><a onclick="SendEmail(\'' + data.CycleId + '\')">Send Email</a></li>'
                            //            + '<li><a onclick="ViewConsntForm(\'' + data.CycleId + '\')">Consent Form</a></li>'
                            //            + '</ul>'
                            //            + '</div>';
                            //    }

                            //}
                            //else
                            if (data.isWhatsAppSent === 1) {
                                if (type === 'display') {
                                    dt = '<div class="dropdown ">'
                                        + '<button class="fa fa-list btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown" ">'
                                        + '<span class="caret"></span></button>'
                                        + '<ul class="dropdown-menu">'
                                        + '<li><a onclick="ViewCertificate(\'' + data.CycleId + '\')">View Certificate</a></li>'
                                        + '<li><a onclick="SendWhatsAPP(\'' + data.CycleId + '\')">Resend WhatsApp</a></li>'
                                        + '<li><a onclick="SendEmail(\'' + data.CycleId + '\')">Resend Email</a></li>'
                                        + '<li><a onclick="ViewConsntForm(\'' + data.CycleId + '\')">Consent Form</a></li>'
                                        + '</ul>'
                                        + '</div>';
                                }
                            }
                            return dt
                        },
                        className: "dt-body-center"
                    },
                 /*   { title: "CycleId", data: "CycleId" },*/
                    { title: "Client Name", data: "FirstName" },
                    { title: "PhoneNumber", data: "Telephone" },
                    { title: "Visit Date", data: "VisitDate" },
                    { title: "Booking Date", data: "DateCreated" },
                    { title: "Booking Time", data: "VisitTime" },
                    {
                        title: "Status", data: null, render: function (data, type, row) {
                            return '<span class="label label-info">Completed</span>';
                        }

                    },

                ],
                "aaSorting": [[4, "desc"], [5, "desc"]]
            });
        }
        //function updateBooking2(id) {
        //    jQuery.grep(dataBookings, function (n, i) {
        //        if (n.CycleId === id) {
        //            console.log('Status6', id)
        //            $('#status').val(3);
        //            $('#clientName').val(n.FirstName);
        //        }
        //    });
        //}

        function updateBooking(id, status) {
            jQuery.grep(newBookings, function (n, i) {
                if (n.CycleId === id) {
                    if (parseInt(status) === 0) {
                        $('#BookingStatus').val(1);
                        $('#clientName').val(n.FirstName);
                        $('#mid').val(id);
                    }
                    else if (parseInt(status) === 1) {
                        $('#BookingStatus').val(2);
                        $('#clientName').val(n.FirstName);
                        $('#mid').val(id);
                    }
                    else if (parseInt(status) === 2) {
                        $('#BookingStatus').val(3);
                        $('#clientName').val(n.FirstName);
                        $('#mid').val(id);
                    }
                    else if (parseInt(status) === 3) {
                        $('#BookingStatus').val(4);
                        $('#clientName').val(n.FirstName);
                        $('#mid').val(id);
                    }

                }
            })
            $('#PatientBookingModal').modal('show');
        }
        function updateBooking2(id, status) {
            jQuery.grep(scheduled, function (n, i) {
                if (n.CycleId === id) {
                    if (parseInt(status) === 1) {
                        $('#BookingStatus').val(2);
                        $('#clientName').val(n.FirstName);
                        $('#mid').val(id);
                    }

                }
            })
            $('#PatientBookingModal').modal('show');
        }
        function ViewCertificate(CycleID) {
            console.log(CycleID);
            window.open('/Booking/CertPDF?CycleID=' + CycleID);

        }
        function ViewConsntForm(CycleID) {
            console.log(CycleID);
            window.open('/ConsetForm/index?CycleID=' + CycleID);

        }

        function SendWhatsAPP(id) {
            jQuery.grep(Completed, function (n, i) {
                if (n.CycleId === id) {
                    $('#clientNameW').val(n.FirstName);
                    $('#midW').val(id);
                }
            })
            $('#PatientWhatsAppModal').modal('show');
        }
        function SendEmail(id) {
            jQuery.grep(Completed, function (n, i) {
                if (n.CycleId === id) {
                    $('#clientNameE').val(n.FirstName);
                    $('#midE').val(id);
                }
            })
            $('#PatientEmailModal').modal('show');
        }

        function WhatsAppSender() {
            var url = '/Booking/SendWhatsApp';
            var postObj = {
                "cycleId": $('#midW').val(),
            };
            customPost("Proceed to send Certificate Via WhatsApp?", url, postObj, 'PatientWhatsAppModal', 'PatientWhatsAppModal',
                'PATIENT INFORMATION', populateCompleted);
        }

        function EmailSender() {
            var url = '/Booking/SendEmail';
            var postObj = {
                "cycleId": $('#midE').val(),
            };
            customPost("Proceed to send Certificate Via Email?", url, postObj, 'PatientEmailModal', 'PatientEmailModal',
                'PATIENT INFORMATION', populateCompleted);
        }
        function ClientUpdate() {
            var url = '/Home/UpdateStatus';
            var postObj = {
                "cycleId": $('#mid').val(),
                "newstatus": $('#BookingStatus').val()
            };
            customPost("Proceed to update booking?", url, postObj, 'PatientBookingModal', 'PatientBookingModal',
                'PATIENT INFORMATION', populateCompleted);
        }
        function CustomAlert(title, text, type) {
            swal({
                title: title,
                text: text,
                type: type,
                showCancelButton: true,
                showConfirmButton: true,
                confirmButtonClass: 'btn btn-quickSWap'
            });
        }
        function customPost(text, url, postObj, modalName, formName, actionName, populatingClass) {
            swal({
                title: "ARE YOU SURE?",
                text: text,
                type: 'warning',
                showCancelButton: true,
                showConfirmButton: true,
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                confirmButtonText: 'Yes!',
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: url,
                        data: JSON.stringify(postObj),
                        contentType: "application/json;charst=utf-8",
                        dataType: 'JSON',
                        type: 'POST',
                        success: function (data) {
                            if (data.status === "success") {
                                if (modalName !== null) {
                                    $('#' + modalName).modal('hide');
                                }
                                swal("Updated!", "Booking has been updated.!", "success");
                                $('#' + modalName).modal('hide');
                                fetchBookings();
                                populateBookings();
                            } else {
                                swal("Updated!", "Booking has been updated.!", "success");
                                $('#' + modalName).modal('hide');
                                FetchScheduled();
                                FetchPending();
                                FetchCompleted();
                                FetchVisits();
                            }
                        }
                    });

                } else {
                    swal("Cancelled", "Your have cancelled :)", "error");
                }
            });
        }


    </script>
}
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small card -->
                        <div class="small-box" style="background-color:#0dccff; color: white">
                            <div class="inner">
                                <h3 id="newClients"></h3>
                                <p>NEW CLIENTS</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                            <a href="#" class="small-box-footer">
                                @*<a href="@Url.Action("../Home/newbookings")" class="small-box-footer">*@
                                    <p class="mb-0">
                                        <span> </span>
                                        Daily Registered Clients <i class="fas fa-arrow-right"></i>
                                    </p>
                                </a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small card -->
                        <div class="small-box" style="background-color:#022c5b; color: white">
                            <div class="inner">
                                <h3 id="MonthlyClients"></h3>

                                <p>MONTH TODATE BOOKINGS</p>
                            </div>
                            @*<div class="icon" style="color:#ffff">
                                <i class="ion ion-stats-bars"></i>
                            </div>*@
                            <a href="#" class="small-box-footer">
                                <p class="mb-0">
                                    <span> </span>
                                    Monthly registered clients <i class="fas fa-arrow-right"></i>
                                </p>
                            </a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small card -->
                        <div class="small-box" style="background-color: #eb2027; color: white">
                            <div class="inner">
                                <h3 id="HomeSample"></h3>

                                <p>HOME SAMPLE</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-user-plus"></i>
                            </div>
                            @*<a href="@Url.Action("../Home/homesample")" class="small-box-footer">*@
                                <a href="#" class="small-box-footer">
                                    <p class="mb-0">
                                        <span> </span>
                                        Daily home collections <i class="fas fa-arrow-right"></i>
                                    </p>
                                </a>
</div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small card -->
                        <div class="small-box" style="background-color: #008000; color: white">
                            <div class="inner">
                                <h3 id="WalkIns"></h3>
                                <p>WALK-INS</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-chart-pie"></i>
                            </div>
                            @*<a href="@Url.Action("../Home/walkins")" class="small-box-footer">*@
                                <a href="#" class="small-box-footer">
                                    <p class="mb-0">
                                        <span> </span>
                                        Daily Total Walk-Ins <i class="fas fa-arrow-right"></i>
                                    </p>
                                </a>
</div>
                    </div>
                    <!-- ./col -->
                </div>
            </div>
            <!-- /.row -->
            @*<div class="row mt-4">*@
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#new_bookings" data-toggle="tab">NEW BOOKINGS</a></li>
                        <li><a href="#scheduled" data-toggle="tab">SCHEDULED</a></li>
                        <li><a href="#pending_results" data-toggle="tab">PENDING RESULTS</a></li>
                        <li><a href="#completed" data-toggle="tab">COMPLETED</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="new_bookings">
                            <!-- Post -->
                            <div class="box">
                                <div class="table-wrapper table-responsive">
                                    <div class="table-title">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="col-xs-12">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <form class="form-inline">
                                                                <div class="form-group">
                                                                    <label for="email" style="color:white;">FROM:</label>
                                                                    <input type="text" autocomplete="off" class="form-control" id="StartDate">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="pwd" style="color:white;">To:</label>
                                                                    <input type="text" autocomplete="off" class="form-control" id="EndDate">
                                                                    <input type="hidden" autocomplete="off" value="0" class="form-control" id="status">
                                                                </div>
                                                                <div class="form-group">
                                                                    <button type="button" id="filterByDate" class="btn btn-Ocelot" style="background-color:forestgreen;">FILTER</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <h2>Manage <b>New Bookings</b></h2>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="box-body">

                                        <table id="NewBookingsTables" class="table align-items-center mb-0"></table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*START TAB 2*@
                        <div class="tab-pane" id="scheduled">
                            <!-- Post -->
                            <div class="box">
                                <div class="table-wrapper table-responsive">
                                    <div class="table-title">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="col-xs-12">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <form class="form-inline">
                                                                <div class="form-group">
                                                                    <label for="email" style="color:white;">FROM:</label>
                                                                    <input type="text" autocomplete="off" class="form-control" id="StartDate1">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="pwd" style="color:white;">To:</label>
                                                                    <input type="text" autocomplete="off" class="form-control" id="EndDate1">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="hidden" autocomplete="off" value="1" class="form-control" id="status1">
                                                                </div>
                                                                <div class="form-group">
                                                                    <button type="button" id="filterByDate1" class="btn btn-Ocelot" style="background-color:forestgreen;">FILTER</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <h2>Manage <b>Schedled Bookings</b></h2>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="box-body">

                                        <table id="scheduledTables" class="table align-items-center mb-0"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*END TAB*@

                        @*STAR TAB 3*@
                        <div class="tab-pane" id="pending_results">
                            <!-- Post -->
                            <div class="box">
                                <div class="table-wrapper table-responsive">
                                    <div class="table-title">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="col-xs-12">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <form class="form-inline">
                                                                <div class="form-group">
                                                                    <label for="email" style="color:white;">FROM:</label>
                                                                    <input type="text" autocomplete="off" class="form-control" id="StartDate2">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="pwd" style="color:white;">To:</label>
                                                                    <input type="text" autocomplete="off" class="form-control" id="EndDate2">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="hidden" autocomplete="off" value="2" class="form-control" id="status2">
                                                                </div>
                                                                <div class="form-group">
                                                                    <button type="button" id="filterByDate2" class="btn btn-Ocelot" style="background-color:forestgreen;">FILTER</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <h2>Manage <b>Pending Results</b></h2>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="box-body">

                                        <table id="pendingResultsTables" class="table align-items-center mb-0"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*END TAB 3*@

                        @*START TAB 4*@
                        <div class="tab-pane" id="completed">
                            <!-- Post -->
                            <div class="box">
                                <div class="table-wrapper table-responsive">
                                    <div class="table-title">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <div class="col-xs-12">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <form class="form-inline">
                                                                <div class="form-group">
                                                                    <label for="email" style="color:white;">FROM:</label>
                                                                    <input type="text" autocomplete="off" class="form-control" id="StartDate3">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="pwd" style="color:white;">To:</label>
                                                                    <input type="text" autocomplete="off" class="form-control" id="EndDate3">
                                                                </div>
                                                                <div class="form-group">
                                                                    <button type="button" id="filterByDate3" class="btn btn-Ocelot" style="background-color:forestgreen;">FILTER</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <h2>Manage <b>Completed</b></h2>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="box-body">

                                        <table id="completedResultsTables" class="table align-items-center mb-0"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*END TAB 4*@

                    </div>
                </div>

                @*START MODAL*@
                <div id="PatientBookingModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-md">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header btn-Ocelot" style="text-align:center">
                                <h4 class="modal-title">UPDATE BOOKING STATUS</h4>
                            </div>
                            <div class="modal-body">
                                <form id="scheduleWorkShopForm">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <label for="username">CLIENT NAME:</label>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <div class="input-group date">
                                                                <input type="hidden" id="BookingStatus" />
                                                                <input type="hidden" id="mid" />
                                                                <input type="text" class="form-control" id="clientName" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div><br />
                                        </div>
                                    </div>

                                </form>

                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-Ocelot" onclick="ClientUpdate()">SUBMIT</a>
                            </div>
                        </div>

                    </div>
                </div>
                @*END MODAL*@

                @*WHATSAPP START MODAL*@
                <div id="PatientWhatsAppModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-md">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header btn-Ocelot" style="text-align:center">
                                <h4 class="modal-title">SEND CERTIFICATE</h4>
                            </div>
                            <div class="modal-body">
                                <form id="scheduleWorkShopForm">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <label for="driverName">CLIENT NAME:</label>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <div class="input-group date">
                                                                <input type="hidden" id="midW" />
                                                                <input type="text" class="form-control" id="clientNameW" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div><br />
                                        </div>
                                    </div>

                                </form>

                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-Ocelot" onclick="WhatsAppSender()">SUBMIT</a>
                            </div>
                        </div>

                    </div>
                </div>
                @*END MODAL*@

                @*EMAIL START MODAL*@
                <div id="PatientEmailModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-md">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header btn-Ocelot" style="text-align:center">
                                <h4 class="modal-title">SEND CERTIFICATE</h4>
                            </div>
                            <div class="modal-body">
                                <form id="scheduleWorkShopForm">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <label for="driverName">CLIENT NAME:</label>
                                                        </div>
                                                        <div class="col-xs-10">
                                                            <div class="input-group date">
                                                                <input type="hidden" id="midE" />
                                                                <input type="text" class="form-control" id="clientNameE" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div><br />
                                        </div>
                                    </div>

                                </form>

                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-Ocelot" onclick="EmailSender()">SUBMIT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*END MODAL*@

        </div>
    </section>
</div>


